<div class="container side-bar-container">
	<div class="text-center fixed-bar">
		<h3 class="text-center home-btn">
			<%= link_to puzzles_path, class: "text-decoration-none text-dark" do%>
				Admin <i class="fas fa-home m-3"></i>
			<% end %>
		</h3>
		<%= link_to "Puzzles", puzzles_path, class: "btn btn-light btn-lg p-2 side-link mb-3 d-block" %>
	</div>
</div>