<%= form_with(model: vote) do |form| %>

	<p class="input">
		<label>[user@42]$
        	<%= form.text_field :username %>
		</label>
	</p>

  	<div class="actions submit-vote">
    	<%= form.submit %>
  	</div>
<% end %>