<%= form_with(model: vote) do |form| %>
	<p class="input">
		<label>[user@42]$
        	<%= form.text_field :username %>
		</label>
	</p>
	<%= form.hidden_field :puzzle_contender_id, value: vote.puzzle_contender.id %>	
  	<div class="actions submit-vote">
    	<%= form.submit "Vote" %>
  	</div>
<% end %>