<div class="card m-0 p-0 no-border-card">
  <%= link_to 'Back', contributors_path, class: 'btn btn-dark m-3 col-2' %>
  <div class="card-body text-center">
    <h2 class="card-title">New Contributor</h2>
    <h6 class="card-subtitle mb-2 text-muted">Fill carefully all fields...</h6>
	<%= render 'form', contributor: @contributor %>
  </div>
</div>