$blue: #0275d8;
$light_gray: rgba(210, 210, 210, 0.6);
$dark_gray: rgba(200, 200, 200, 1);

* {
	 box-sizing: border-box;
	 padding: 0;
	 margin: 0;
}

hr {
	margin: 0.5rem;
}
html {height: 100%}

body {min-height: 100vh;}

.notice {
	background-color: rgba(255, 200, 10, 1);	
	text-align: center;
	width: 50%;
	border-radius: 1em;
	margin: auto;
	opacity: 0%;
	animation: notice 10s ease-in-out;
}

.shake {
	animation: shake 2.5s infinite;
}

.notification-image-badge {	
	position: absolute;
	z-index: 9;
	top: 5px;
	right: 5px;
}

.notification-image-container {
	position: relative;
	> img {
		width: 100%;
	}
	.notification-image-puzzle-button {
		position: absolute;
		bottom: 0.5rem;
		margin: auto;
		width: 100%;
		a {
			opacity: 80%;
			&:hover {
				color: $blue;
				opacity: 100%;
			}
		}
	}
}

.tournament-box {
	border-right: 1px solid $light_gray;
}
.tournament_puzzle_image {
	margin: 1.25%;
	width: 22.5%;
	min-width: 160px;
	height: 120px;
	background-size: cover;
	background-position: center;
	position: relative;
	text-align: center;
	.vote-count {
		position: absolute;
		width: 100%;
		margin: auto;
		padding: 0.5rem;
		bottom: 0;
		font-size: 120%;
	}
}
.vote-icon {
	color: pink;
	margin-left: 0.2rem;
	font-size: 120%;
	vertical-align: top;
}

.admin-jumbotron {
	min-height: 100vh;	
	.winner-badge {
		vertical-align: bottom;
		font-size: inherit;	
	}
}

@keyframes notice {
	from {
		opacity: 100%;
	}
	to
	{
		display: none;
		opacity: 0%;
	}
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  2% { transform: translate(1px, -1px) rotate(-2deg); }
  5% { transform: translate(1px, 1px) rotate(-1deg); }
  7% { transform: translate(1px, -1px) rotate(0deg); }
  10% { transform: translate(1px, 1px) rotate(-2deg); }
  100%{};
}

.admin-content {
	margin: 0;
	padding: 0;
	height: 100vh;
	.side_bar {
		padding: 0;
		margin: 0;
		background-color: $light_gray;
		.side-bar-container
		{
			width: 100%;
			.side-link {
				background-color: $dark_gray;
				border-color: $dark_gray;
				&:hover {
					opacity: 0.5;
				}
			}
			.home-btn {
				&:hover a{
					color: $blue !important;
					text-decoration: underline !important;
				}
			}
		}
	}
}

@media only screen and (min-width: 1100px) {
	.admin-content {
		.side-bar-container {
			.fixed-bar {
				position: fixed;
			}
		}
	}
}