@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import 'tournaments';
@import 'contributors';
@import 'visitors_animations';
$gray: #696969;
$blue: #D5F4CD;
$pink: #FFC0CB;
$purple: #6B4E71;
$black: #141414;

@font-face {
	font-family: "Press Start 2P";
	src: font-url("/assets/PressStart2P-Regular");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Press Start 2P";
}
hr {
	margin: 0.5rem;
}
html {height: 100%;}
body {
	color: $gray;
	width: 100vw;
	min-height: 100vh;
	width: 100vw;
	word-wrap: break-word;
	background-color: $black;
}
.logo-home {
	width: 60px;
	z-index: 29;
	height: 60px;
	position: fixed;
	display: inline-block;
	a {
		display: inline-block;
		span {
			z-index: 9;
			color: $gray;
			padding: 10px;
			position: fixed;
			font-size: 40px;
			transform: rotate(270deg);
			&:hover {
				color: white;
			}
		}
		p {
			z-index: 10;
			color: $gray;
			height: 60px;
			display: grid;
			font-size: 10px;
			margin-top: 2px;
			position: relative;
			text-align: center;
			align-items: center;
		}
	}
	&:hover span {
		color: white;
	}
	&:hover p {
		animation: glitch_delay 1s linear 1; 
	}
}
.notice {
	width: 90vw;
	z-index: 99;
	top: -100px;
	color: $black;
	margin: 5px 5vw;
	position: fixed;
	text-align: center;
	border-radius: 0.5rem;
	background-color: white;
	animation: disappear 8s linear 1;
}
.disable-link {
	width: 100%;
	color: $gray;
	text-decoration: none;
}
.text-purple {
	color: $purple;
}
.puzzle-piece-container {
	width: 100vw;
	overflow: hidden;
	.puzzle-piece-element {
		display: flex;
		position: relative;
		&:hover > div {
			border: 2px solid;
			color: $black;
			border-color: rgba(255, 255, 255, 0.5);
		}
		&:hover .home-page-icon {
			display: none;
		}
		.piece-section {
			width: 100%;
			height: 100%;
			border: 2px solid $black;
			h1, h5, p, li{
				margin-top: 5px;
				text-align: center;
			}
			&:hover {
				cursor: pointer;
			}
			&:hover h1 {
				animation: glitch 1s linear 1;
			}
		}
	}
	#puzzle-piece-1 {
		z-index: 39;
		.piece-section {
			display: flex;
			flex-direction: column;
			.contributor {
				display: none;
				align-items: center;
				flex-grow: 1;
				* {
					margin: auto;
					text-align: center;
				}
				img {
					max-height: 40vh;
					border-radius: 1rem;
					opacity: 0.6;
				}
			}
			&:active img {
				opacity: 1;
			}
			&:hover .contributor {
				display: grid;
			}
		}
	}
	#puzzle-piece-2 {
		z-index: 39;
		.tournament-list {
			display: none;
			li {
				display: block;
				margin-top: 0.5rem;
			}
		}
		&:hover h1, li{
			color: white;
		}
		&:hover .tournament-list {
			display: block;
			animation: glitch_delay 3s linear 1;
		}
	}
	#puzzle-piece-3 {
		z-index: 39;
		h1 {
			a {
				color: $black;
				text-decoration: none;
			}
		}
		.shelve-container {
			top: 0;
			left: 0;
			width: 100%;
			display: none;
			position: relative;
			.shelve-item {
				left: 0;
				top: 30px;
				width: auto;
				height: 120px;
				opacity: 0.95;
				display: grid;
				position: absolute;
				place-items: center;
				border-radius: 1rem;
				text-decoration: none;
				transform: perspective(50em) rotateX(50deg);
				img {
					width: auto;
					height: 120px;
					border-radius: 1rem;
				}
				> p {
					width: 100%;
					color: $black;
					height:  100%;
					padding: 1rem;
					border-radius: 1rem;
					border:  2px solid $black;
					background-color: rgb(230, 230, 230);
				}
				&:nth-child(1) {left: 1vw;}
				&:nth-child(2) {left: 9.5vw;}
				&:nth-child(3) {left: 16vw;}
				&:nth-child(4) {left: 24.5vw; }
				&:nth-child(5) {left: 32vw;}
				&:hover {
					top: -10px;
					z-index: 9;
		  			box-shadow: 5px 10px 8px #888888;
					animation: image_show 2s linear 1;
					transform: perspective(0) rotateX(0);
				}
			}
		}
		&:hover .shelve-container {
			display: block;
		}
	}
	#puzzle-piece-4 {
		z-index: 39;
		p {
			margin: auto;
			max-width: 90%;
			padding-bottom: 5px;
			border-bottom: 1.5px solid white;
		}
		h5 {
			color: white;
			margin-top: 0.5rem;
		}
		.club-info-buttons {
			display: none;
		}
		.club-info-title, .club-info-description{
			display: none;
			li {
				display: block;
				color: $purple;
				text-decoration: underline;
				margin-top: 0.5rem;
			}
		}
		&:hover h1 {
			color: white;
		}
		&:hover .club-info-description {
			display: block;
			animation: glitch_delay_2 4s linear 1;
		}
		&:hover .club-info-title {
			color: white;
			display: block;
			animation: glitch_delay 3s linear 1;
		}
	}
}
.home-page-icon {
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	display: flex;
	margin: 0 auto;
	text-align: center;
	position: relative;
	justify-content: center;
	.material-icons, .icon-42 {
		margin: 0;
		padding: 0;
		bottom: -150%;
		font-size: 1000%;
		position: absolute;
	}
}
@media only screen and (max-width: 700px) {
	.puzzle-piece-container {
		width: 100%;
		height: 100%;
		margin: auto;
		display: grid;
		align-items: center;
 		#puzzle-piece-1 {
 			display: none;
		}
 		#puzzle-piece-2 {
 			display: none;
 		}
 		#puzzle-piece-3 {
 			display: none;
 		}
 		#puzzle-piece-4 {
 			position: realtive;
 			> div {
 				margin: auto 0;
 			}
 			.club-info-buttons {
 				bottom: 0.8rem;
 				position: absolute;
 				display: inline-block;
 				width: 100%;
 				a {
 					padding: 0.5rem;
 					background: white;
 					border-radius: 0.5rem;
 					text-decoration: none;
 				}
 			}
 			&:hover .club-info-buttons {
 				display: block;
 			}
		}
	}
}
@media only screen and (min-width: 701px) {
	.puzzle-piece-container {
		row-gap: 0;
		height: 100vh;
		display: grid;
		column-gap: 0;
 		grid-template-areas: 
 			"piece-1 piece-2"
 			"piece-3 piece-4";
 		grid-template-rows: 50% 50%;
 		grid-template-columns: 50% 50%;
 		#puzzle-piece-1 {
 			grid-area: piece-1;
			background-color: $pink;
	 	}
	 	#puzzle-piece-2 {
	 		grid-area: piece-2;
			background-color: $purple;
	 	}
		#puzzle-piece-3 {
	 		grid-area: piece-3;
			background-color: $blue;
			.shelve-container {
				.shelve-item {
		 			img, p{
						width: 15vw;
						height: 30vh;
						border-radius: 1rem;
					}
				}
			}
 		}
 		#puzzle-piece-4 {
	 		grid-area: piece-4;
			background-color: $black;
	 	}	
 	} 	
}
@media only screen and (max-width: 699px) {
	.puzzle-piece-container {
		height: 100vh;
		.puzzle-piece-element {
			height: 50vh;
		}
	}
}